<div  class="heads">
  <h2>All Products</h2>
</div>
<div class="cards">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="assets/figure.jpg" class="card-img-top" alt="Demon Slayer Figures" id="imgs">
            <div class="card-body">
              <h5 class="card-title">Grandista Nezuko and Tanjiro</h5>
              <p class="card-text">$280.00</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/tensei.png" class="card-img-top" alt="Tensei Rimuru Figure" id="imgs">
            <div class="card-body">
              <h5 class="card-title">Banpresto Rimuru</h5>
              <p class="card-text">$190.00</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/black-clover.jpg" class="card-img-top" alt="Black Clover Asta Figure" id="imgs">
            <div class="card-body">
              <h5 class="card-title">Banpresto DXF Asta</h5>
              <p class="card-text">$150.00</p>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="cards2">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="assets/senku.jpg" class="card-img-top" alt="Demon Slayer Figures" id="imgs">
        <div class="card-body">
          <h5 class="card-title">Grandista Senku</h5>
          <p class="card-text">$140.00</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/dekku.jpg" class="card-img-top" alt="Tensei Rimuru Figure" id="imgs">
        <div class="card-body">
          <h5 class="card-title">Banpresto Dekku</h5>
          <p class="card-text">$120.00</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/kaido.jpeg" class="card-img-top" alt="Black Clover Asta Figure" id="imgs">
        <div class="card-body">
          <h5 class="card-title">Grandista Kaido</h5>
          <p class="card-text">$400.00</p>
        </div>
      </div>
    </div>
  </div>
</div>