.contact{
    margin-top: 200px;
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    height: 350px;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons svg{
    margin: 10px;
}
.contact p{
    margin-top: 30px;
    font-size: 1.2em;
}
.contact h2{
    font-size: 4.2em;
}