<div class="about">
    <div class="heads">
        <h5>About</h5>
        <h2>Secreight Shop</h2>
        <p>Anime Collection Paradise</p>
    </div>
    <img src="assets/sotre4.jpg" alt="Secreight Shop">
    <div class="abt">
        <p>Secreight Shop is an Anime Collectible Store that is located in a secluded part of Pampanga, Porac. 
            Our shop is not the usual mall type store that can be easily found, our shop is only known to those
            who we call OG's and that are looking for the rarest of collectibles in the market. Going to our store is not easy,
            it gives thrilling experience to our customer, while giving them an exciting feel for what awaits for them in our store.
            <br><br>

            Our shop is known to many celebrity customers, such as Alodia Gosiengfiao, Tryke Gutierrez, Ako si Dogie and more!
            Our items are all authentic from different prominent companies such as Bandai, Kotobukiya, Figma and MegaHouse.
        </p>
    </div>
</div>