<div class="main">
  <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">
  <div class="nav">
    <div>
      <h3 class="company" >Secreight Shop</h3>
      <p class="p">Anime Collection Paradise</p>
    </div>
    <nav>
      <a routerLink="home">HOME</a>
      <a routerLink="about">ABOUT</a>
      <a routerLink="products">PRODUCTS</a>
      <a routerLink="product-details">PRODUCT-DETAILS</a>
      <a routerLink="contact">CONTACT</a>
    </nav>
  </div>
  <div class="out">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <h3>Secreight Shop</h3>
    <p>Anime Collection Paradise</p>
    <i><p class="glo">"To God Be the Glory!"</p></i>
  </footer>
</div>