.nav{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F4F4F2;
}
.nav a{
    text-decoration: none;
    list-style-type: none;
    color: #495464;
    margin: 30px;
    font-size: 1.2em;
    font-family: 'Comfortaa', cursive;
}
.hero
{
    background-image: url("../assets/bg.jpg");
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.hero h3{
    font-size: 4em;
    color: #F4F4F2;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    
}
.hero svg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #F4F4F2;
}
.icon{
    padding-top: 40px;
}
.main{
    background-color: #F4F4F2;
    height: 100vh;
}