.home{
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
#imgs{
    height: 350px;
    object-fit: cover;
}
*{
    font-family: 'Encode Sans', sans-serif;
}
.card-title{
    font-weight: 700;
}
.card-text{
    letter-spacing: 1px;
}
.home h3{
    font-family: 'Josefin Slab', serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 4.5em;
    font-weight: 500;
    background-image: url('/assets/hot2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 15px 2px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(34, 40, 49, 0.4);
    margin-bottom: 50px;

}
.banner img{
    margin-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    object-fit: contain;
    justify-content: center;
}
.goto{
    margin-top: 50px;
    text-align: right;
}
.goto button{
    font-family: 'Encode Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px 50px;
    background-color: white;
    border: none;
    color: white;
    background-color: #222831;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(34, 40, 49, 0.2);
}
.goto button:hover{
    background-color: #F05454;
    transition: 0.3s;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(34, 40, 49, 0.2);
}