<div class="banner">
  <img src="assets/banner2.jpeg" alt="Secreight Shop Banner">
</div>
<div class="home">
  <div>
    <h3>HOT RELEASES!</h3>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="assets/figure.jpg" class="card-img-top" alt="Demon Slayer Figures" id="imgs">
        <div class="card-body">
          <h5 class="card-title">Nezuko and Tanjiro Resin</h5>
          <p class="card-text">$280.00</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/tensei.png" class="card-img-top" alt="Tensei Rimuru Figure" id="imgs">
        <div class="card-body">
          <h5 class="card-title">Rimuru Battle Mode</h5>
          <p class="card-text">$190.00</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/black-clover.jpg" class="card-img-top" alt="Black Clover Asta Figure" id="imgs">
        <div class="card-body">
          <h5 class="card-title">Asta</h5>
          <p class="card-text">$150.00</p>
        </div>
      </div>
    </div>
  </div>
  <div class="goto">
    <button (click)=goPlaces()>Visit Store!</button>
  </div>
</div>