.table{
    width: 50%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.emp1 h3{
    text-align: center;
    font-family: 'Cabin', sans-serif;
    margin-top: 50px;
    font-size: 2em;
}
tr{
    text-align: center;
}
tbody{
    width: 50%;
    text-align: center;
}
thead{
    width: 50%;
}