<div class="prod-dets">
    <h3>Product Details</h3>
    <div class="out">
        <div>
            <h5>Product Name</h5>
            <p  *ngFor="let prod of product; let i = index">
                {{prod.prod_name}}
            </p>
        </div>
        <div>
            <h5>Manufacturer</h5>
            <p  *ngFor="let prod of product; let i = index">
                {{prod.prod_manufacturer}}
            </p>
        </div>
        <div>
            <h5>Price</h5>
            <p  *ngFor="let prod of product; let i = index">
                {{prod.price}}
            </p>
        </div>
    </div>
</div>