.prod-dets{
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'Encode Sans', sans-serif;
    margin-bottom: 100px;
}
.prod-dets h3{
    text-align: center;
    font-size: 3em;
    font-family: 'Encode Sans', sans-serif;

}
.out{
    display: flex;
    justify-content: center;
}
.out div{
    margin: 60px;
}
.out h5{
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
}